# Dependencies
node_modules/
**/node_modules/

# Production Builds
dist/
**/dist/
build/
**/build/

# Logs and coverage
*.log
coverage/

# Environment
.env
.env.local
.env.*.local
!.env.example

# OS & Editor
.DS_Store
Thumbs.db
.qodo/
